.about{
    padding: 0 20px;
    position: relative;
    .audio-img-5{
        position: absolute;
        top: 180px;
        right: -100px;    
        animation: scaleAnimation 2s infinite ease-in-out;
    }
    .about-container{
        max-width: 1600px;
        margin: 0 auto;
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include responsive(md){
            flex-direction: column;
        }
        .about-text{
            width: 45%;  
            @include responsive(md){
                width: 100%;
            }
            .heading{
                h2{
                   font-size: 80px;
                   font-family: $montserrat;
                   color: #000;
                   font-weight: 900;
                   margin-bottom: 20px;     
                   text-transform: uppercase;
                    @include responsive(lg){
                        font-size: 56px;
                    }
                    @include responsive(md){
                        font-size: 42px;
                    }
                    @include responsive(sm){
                        font-size: 32px;
                    }
                }    
            }
            .subtext{
                font-size: 22px;
                font-family: $montserrat;
                color: rgba(0,0,0,0.5);
                font-weight: 600;
                margin-bottom: 20px;   
                line-height: 32px;
                @media screen and (max-width:1024px) {
                  font-size: 20px;
                }
                @include responsive(md) {
                  font-size: 18px;
                  line-height: 28px;
                }
                @include responsive(xs) {
                  font-size: 16px;
                  line-height: 24px;
                }
            }
        }
        .about-img{
            width: 50%;    
            @include responsive(md){
                width: 100%;
            }
            img{
                width: 100%;
                height: 100%;    
            }
        }
    }    
}