.banner{
    padding: 120px 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    position: relative;
    overflow: hidden;
    .audio-img{
        position: absolute;
        top: 0;
        left: 0;    
        animation: scaleAnimation 2s infinite ease-in-out;
    }
    .audio-img-2{
        position: absolute;
        bottom: 0;
        right: 0;    
        animation: scaleAnimation 2s infinite ease-in-out;
    }
    .banner-container{
        max-width: 1600px;
        margin: 0 auto;
        display: flex;
        @media screen and (max-width:1024px) {
          flex-direction: column;
        }
        .text-container{
          position: relative;
          z-index: 5;
            width: 60%;
            @media screen and (max-width:1580px) {
              width: 70%;
            }
            @media screen and (max-width:1400px) {
              width: 100%;
            }
            .heading{
                margin-bottom: 10px;
                h1{
                    .shadowed-text{
                        font-family: $montserrat;
                        font-size: 150px;
                        font-weight: 900;
                        color: #ffffff;
                        letter-spacing: -1%;  
                        text-shadow: 2px 2px #000000;
                        display: inline-block;  
                        line-height: 100px;
                        @include responsive(lg) {
                          font-size: 100px;
                        }
                        @include responsive(md) {
                          font-size: 70px;
                        }
                    }
                }    
            }   
            .subtext{
                width: 93%;
                @media screen and (max-width:1400px) {
                  width: 70%;
                }
                @media screen and (max-width:1024px) {
                  width: 100%;
                }
                font-family: $montserrat;
                font-size: 24px;
                font-weight: 900;
                color: #ffffff;
                letter-spacing: -1%;  
                text-shadow: 2px 2px #000000;
                display: inline-block;  
                line-height: 38px;
                @media screen and (max-width:1024px) {
                  font-size: 20px;
                }
                @include responsive(md) {
                  font-size: 18px;
                  line-height: 28px;
                }
                @include responsive(xs) {
                  font-size: 16px;
                  line-height: 24px;
                }
            }    
        }
        .image-container{
            position: absolute;
            right: 40px;
            top: 105px;
            @media screen and (max-width:1650px) {
                right: -100px;  
            }
            @media screen and (max-width:1580px) {
                right: -200px;
            }
            @media screen and (max-width:1024px) {
              position: relative;
              right: auto;
              top: auto;
            }
            img{
                width: 100%;
                height: 100%;
                animation: swingAnimation 2s infinite ease-in-out;
            }    
        }
    }    
}

@keyframes swingAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}