.links{
    padding: 150px 20px;
    position: relative;
    .audio-img-6{
        position: absolute;
        top: 180px;
        left: -100px;    
        animation: scaleAnimation 2s infinite ease-in-out;
    }
    .links-container{
        max-width: 1600px;
        margin: 0 auto;
        position: relative;
        z-index: 5;
        .heading{
            margin-bottom: 50px;
            h2{
                text-align: center;
                font-size: 80px;
                font-family: $montserrat;
                color: #000;
                font-weight: 900;
                margin-bottom: 20px;     
                text-transform: uppercase;
                @include responsive(lg){
                    font-size: 56px;
                }
                @include responsive(md){
                    font-size: 42px;
                }
                @include responsive(sm){
                    font-size: 32px;
                }
            }    
        }     
        .links-btns{
            @include responsive(md){
                display: flex;
                justify-content: space-between;
            }
            @include responsive(xs){
                flex-direction: column;
                gap: 20px;
            }
            .links-top-row{
                display: flex;
                gap: 80px;
                align-items: center;
                justify-content: start;
                margin-bottom: 50px;
                @include responsive(md){
                    flex-wrap: wrap;
                    gap: 20px;
                    width: 48%;
                    margin-bottom: 0px;
                }
                @include responsive(xs){
                    width: 100%;
                }
                a{
                    background: linear-gradient(273.06deg, #021B79 0.98%, #0575E6 98.89%);
                    padding: 15px 20px;
                    border-radius: 13px;
                    display: flex;
                    flex-direction: column;
                    min-width: 150px;
                    align-items: center;
                    @include responsive(md){
                        width: 100%;
                    }
                    span{
                        font-size: 10px;
                        text-align: center;
                        font-weight: 400;
                        margin: 0 auto;
                        font-family: $montserrat;
                        color: #fff;
                        text-transform: uppercase;
                    }
                    p{
                        font-size: 20px;
                        font-weight: 800;
                        text-align: center;
                        font-family: $montserrat;
                        color: #fff;
                        text-transform: uppercase;
                    }    
                }
            }
            .links-bottom-row{
                display: flex;
                gap: 80px;
                align-items: center;
                justify-content: end;
                @include responsive(md){
                    flex-wrap: wrap;
                    gap: 20px;
                    width: 48%;
                }
                @include responsive(xs){
                    width: 100%;
                }
                a{
                    background: linear-gradient(273.06deg, #021B79 0.98%, #0575E6 98.89%);
                    padding: 15px 20px;
                    border-radius: 13px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    min-width: 150px;
                    @include responsive(md){
                        width: 100%;
                    }
                    span{
                        font-size: 10px;
                        text-align: center;
                        font-weight: 400;
                        margin: 0 auto;
                        font-family: $montserrat;
                        color: #fff;
                        text-transform: uppercase;
                    }
                    p{
                        font-size: 20px;
                        font-weight: 800;
                        text-align: center;
                        font-family: $montserrat;
                        color: #fff;
                        text-transform: uppercase;
                    }    
                }
            }    
        }
    }    
}